body {
    background-color: #36454F;
    color: white;
    margin:0;
    font: 1.2em / 1.2 georgia;
}
.box{
    background-color: #36454F;
    width:relative;
    height: 150px;
    top:0%;
}
.logo {
    max-width: 100%;
    display: block;
    float: left;
    height:100px;
    width: 100px;
    top: 0%;
    margin:20px;

}
a{
    border-color: #C70039;
    width: 100px;
    height: 50px;
    border-radius: 100px / 50px;
    position: relative;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    margin:20px;
}    
nav a:hover{
    background-color:#C70039;
}

h1{
    color: #C70039;
    font-size: 50px;
    font-style:Arial;
}
p{
    color:black;
}
h2{
    color:black;
    font-size: 20;
}


.intro{
   background-color: white;
   width: 500px;
   height: relative;
   padding: 30px;
   margin: 30px;
   right: 150px;

}

.events{
    background-color: white;
    width:500px;
    height: relative;
    padding:50px;
    margin:30px;
    position:relative;
    left: 650px;
}
.title{
    background-color: white;
    width: 500px;
    height:relative;
    padding:50px;
    margin:30px;
    position: absolute;
    top:800px;
}
.ticket{
    background-color: #C70039;
    width:100px;
    height:60px;
    justify-content: space-evenly;
}
li{
    color:black;
}