body {
    background-color: #301934;
    color: white;
    margin:0;
    font: 1.2em / 1.2 georgia;
}
.box{
    background-color: #BDB5D5;
    width:relative;
    height: 150px;
    top:0%;
}
.logo {
    max-width: 100%;
    display: block;
    float: left;
    height:100px;
    width: 100px;
    top: 0%;
    margin:20px;

}
a{
    border-color: #BDB5D5;
    width: 100px;
    height: 50px;
    border-radius: 100px / 50px;
    position: relative;
    padding:10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;

}
a {
    color: white;
    text-decoration: none;
    padding: 20px;
    margin:20px;
}    
a:hover{
    background-color:white;
    color:#301934;
}

h1{
    color: #301934;
    font-size: 50px;
    font-style:Arial;
}
p{
    color:black;
}
h2{
    color:black;
    font-size: 20;
}

.grid-container-0{
    display: grid;
}
.img{
    padding-top: 50px;
    padding-bottom: 25px;
    grid-column-start: 2;
    height: 500px;
    width: 750px;
}

.intro{
   background-color: white;
   width: 500px;
   height: relative;
   padding: 30px;
   margin: 30px;
   right: 150px;

}

.events{
    background-color: white;
    width:500px;
    height: relative;
    padding:50px;
    margin:30px;
    position:relative;
    left: 650px;
}
.title{
    background-color: white;
    width: 500px;
    height:relative;
    padding:50px;
    margin:30px;
    position: absolute;
    top: 800px;
}
.ticket{
    background-color: #301934;
    width:100px;
    height:60px;
    justify-content: space-evenly;
}
li{
    color:black;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding:10px;
}
.grid-container > div {
    background-color: #BDB5D5;
    padding: 40px;
    font-size: 20px;
    color: black;
}
.grid-item1,.grid-item3,.grid-item5,.grid-item7,.grid-item9,.grid-item11,.grid-item13,.grid-item15,.grid-item17{
    grid-column-start: 1;
    margin:10px;
}
.grid-item2,.grid-item4,.grid-item6,.grid-item8,.grid-item10,.grid-item12,.grid-item14,.grid-item16,.grid-item18{
    grid-column-start: 2;
    margin:10px;
}

.lista a{
    color: black;
    text-decoration: none;
    padding: 20px;
    margin:20px;
    font-size: 20px;
    text-wrap: nowrap;
}
@media screen and (max-width:400px){
    .grid-item1,.grid-item3,.grid-item5,.grid-item7,.grid-item9,.grid-item11,.grid-item13,.grid-item15,.grid-item17{
        grid-column-start: 1;
        width: 270px;
        margin: 20px;
        align-items: center;
    }
    .grid-item2,.grid-item4,.grid-item6,.grid-item8,.grid-item10,.grid-item12,.grid-item14,.grid-item16,.grid-item18{
        grid-column-start: 1;
        width:270px;
        margin:20px;
        align-items: center;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .grid-container-0{
        display:grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    .intro{
        width: 250px;
        font-size: 12px;
        align-items: center;
    }
    ul{
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }
    h1,h2{
        font-size: 20px;
    } 
    p{
        font-size: 12px;
    }

    .img{
       padding: 20px;
       grid-column-start: 1;
       width:350px;
       height:200px;
       align-items: center;
    
    }
}
@media screen and (min-width:1000px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr ;
    }
    .grid-container-0 {
        display: grid;
        grid-template-columns: 1fr ;
        width:200px;
    }
    .intro{
        font-size:20px;
        width:400px;
    }
    /* .img{
        width:450px;
        height:350px;
        padding:20px;
        
    } */
    h1,h2{
        font-size: 25px;
    }
    .box{
        width:relative;
    }
}
   