body{
    background-color: #000;

}
h1 {
    color: white;
    font-size: 30px;
    margin: 10px;
    padding: 15px;
    text-shadow: #8B0000 3px 5px;
}
p{
    color:white;
    font-size:20px;
    margin: 10px;
    padding:15px;
}
h2{
    color:black;
    font-size: 30px ;
    display: inline;
    top: 100px;

}
/* #grad { */
    /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), #DC143C ); */
    /* background: radial-gradient(#e66465, #9198e5); */
  /* } */
.header {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
    text-align: center;
    color:white;
    text-shadow: #8B0000 3px 5px;
    display: flex; 
    flex-direction: row; 
    
}
.header:before, .header:after {
    content: "";
    flex: 1 1;
    /* border-bottom: 3px solid #FFBF00; */
    margin: auto;
    width: relative;
    
}
nav{
    background-color: white;
    padding: .5em;
    position: sticky;
    top: 0% ;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
nav a {
    color: black;
    text-decoration: none;
    padding: .5em 1em;
}
nav a:hover {
    color: white;
    text-shadow: #8B0000 1px 2px;
    width: relative;
    height:relative;
    background-color: #000;

}

.feature {
    width: 100px;
    padding: 10px;
  }

.photos {
    list-style: none;
    margin: 0;
    padding: 0;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
  
}
img {
    max-width: 100%;
    display: block;
    float: left;
    padding:10px;
  }
.grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
  
    display: grid;
    grid-template-columns: 2fr 1fr;
  
  }
