body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

nav{
    /* position: top; */
    right: 300px;
    color:red;
}
.title {
    color:white;
    font-size: 40px;
    font-style: bold;
    top: 400px;
    right: 400px;
}